<div class="header">
    <img id="logo" src="https://i.imgur.com/oF3wOaF.png" alt="logo">
    <h1>
        <span class=one>M</span><span class=two>Y</span><span class=three>B</span><span class=four>O</span><span class=five>O</span><span class=six>K</span><span class=seven>S</span>
    </h1>
    <section class="controls">
        <% if logged_in? %>
            <form action="/sessions" method="POST">
                <input type="hidden" name="_method" value="delete">
                <button>Logout</button>
            </form>
               <a href="/dashboard/display">Dashboard</a>
        <% else %>
            <a href="/sessions/new">Login</a>
              <a href="/users/new">Sign up</a>      
        <% end %>
    </section>   
</div>
<%# <%= session['user_id'] %> 

<% if logged_in? %>
    <div class="profile_controls"> 
        <section class="profile"> 
            <img src="<%= current_user['photo_url'] %>" alt="" />
            <a href="/books/profile">Edit</a>
            
            <p><%= current_user['bio'] %></p>
            <a href="/books/new">Add books</a>
        </section> 
    </div>
    <h2>
        <strong>Welcome to My Books App <%= current_user['first_name'] %>. ✨ </strong>
        <% if books.any?  %>        
            <%= "You have read #{books.to_a.length()} #{books.to_a.length() == 1 ? 'book' : 'books' }!" %>  
        <% else %>
            <%= "You haven't read any books yet.!" %>
        <% end %>
    </h2>
    <section class='cards'>
    <ol class="books">
    <% books.each do |book| %>
        <li>
            <section class="book">
                <header>
                    <h2><%= book['title']%></h2>
                    <section class="controls">
                        <a href="/books/<%= book['id'] %>/edit">Edit</a>
                        <form action="/books/<%= book['id'] %>"method="POST">
                            <input type="hidden" name="_method" value="delete">
                            <button>Delete</button>
                        </form>
                        <form action="/books/<%= book['id'] %>/likes" method="POST">
                            <button><%= get_likes(book['id']).to_a.length() %> ❤️</button>
                        </form>
                    </section>
                </header>
                <div class='card'>
                    <img src="<%= book['image_url'] %>" alt="">
                    <ul>
                        <li>✍️ <%= book['author'] %></li>
                        <li>🎨 <%= book['illustrator'] %></li>
                        <li>💬 <%= book['quote'] %></li>
                        <br>
                        <div class='comments'>
                        <form class="comments" action="/books/<%= book['id'] %>/comments" method="POST">
                        <input type="text" name="comments" value=<%= %> placeholder="write a comment">
                        <p><%= current_user['comment'] %></p>
                        <p><%=current_user['first_name']%></p>
                        <button class="comments"><%=get_comments(book['id']) %>post</button>
                        </form>
                         <form class="comments" action="/books/<%= book['id'] %>/comments" method="PUT">
                        <button class="comments"><%=get_comments(book['id']) %>edit</button>
                        </form>

                        </div>
                    </ul>
                </div>
            </section>
        </li>
        <% end %>
    </ol>
    </section>
    <% end %>